**/.fabric/processedMods/*.jar
*.png
**/backup/
**/shaderpacks/
**/patched_shaders/
*.dat
**/saves/
**/natives/
**/resourcepacks/
*.zip
**/lang/**/*.json
**/locals/**/*.local
**/crash-reports/
**/logs/
*.gz
**/dashloader/**/*.serializer
**/dashloader/**/*.activej
**/XaeroWaypoints/**/config.txt
**/XaeroWaypoints/**/waypoints.txt
**/XaeroWorldMap/**/server_config.txt
**/XaeroWorldMap/**/dimension_config.txt
**/XaeroWorldMap/**/.lock
**/XaeroWorldMap/**/*.xwmc
**/config/AdvancedCompass/waypoints/**/waypoints.json
