**/.fabric/processedMods/*.jar
*.png
**/backup/
**/shaderpacks/
**/patched_shaders/
*.dat
**/saves/
**/natives/
**/resourcepacks/
*.zip
**/lang/**/*.json
**/locals/**/*.local
**/crash-reports/
**/logs/
*.gz
**/dashloader/**/*.serializer
**/dashloader/**/*.activej
**/XaeroWaypoints/**/config.txt
**/XaeroWaypoints/**/waypoints.txt
**/XaeroWorldMap/**/server_config.txt
**/XaeroWorldMap/**/dimension_config.txt
**/XaeroWorldMap/**/.lock
**/XaeroWorldMap/**/*.xwmc
1.18/pingwina_survival/config/AdvancedCompass/waypoints/
**/config/AdvancedCompass/waypoints/**/waypoints.json
**/1.17/
**/1.18/Orig_Better_1.18.1/
1.18/pingwina_survival/usercache.json
1.18/pingwina_survival/config/starterkit/starterkit-old*.txt
1.18/pingwina_survival/config_new_temp.json
